<%- include("partials/header") -%> 

<h1>Contact</h1>
<p><%=contact %> </p>

<div class="jumbotron">
    <a class="a-tag twitter" href="https://twitter.com/girishguthula"><i class="fab fa-twitter-square fa-5x"></i></a>
    <a class="a-tag fb" href="https://www.linkedin.com/in/girish-babu-48a93013b/"><i class="fab fa-facebook-f fa-5x"></i></a>
    <a class="a-tag insta" href="https://www.instagram.com/girish_babu__/?hl=en"><i class="fab fa-instagram fa-5x"></i></a>
    <a class="a-tag mail" href="mailto:girishguthula@gmail.com"><i class="fas fa-envelope fa-5x"></i></a>
    <a class="a-tag ln" href="https://www.linkedin.com/in/girish-babu-48a93013b/"><i class="fab fa-linkedin fa-5x"></i></a>
    <a class="a-tag git" href="https://github.com/GirishbabuGuthula"><i class="fab fa-github fa-5x"></i></i></a>
 </div>

<%- include("partials/footer") -%> 